body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #b5b5f1;
    margin: 0;
    padding: 0;
  }
  .calculator {
    margin: 50px auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 20px;
    background: #d8d8d8;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 400px;
  }
  .display {
    width: 95%;
    height: 50px;
    text-align: right;
    padding: 10px;
    font-size: 1.5em;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  .buttons button {
    padding: 15px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
  }
  .buttons button:hover {
    background-color: #0056b3;
  }
  .buttons .wide {
    grid-column: span 2;
  }
  .titulo {
    margin-top: 2%;
    font-size: 2em;
    color: #333;
  }
  